.servicesSliderList {
  margin-top: 65px;
  height: 450px;
  width: 320px;
  padding: 0 40px;
}

.slider {
  width: 76vw;
}

.slick-dots {
  bottom: 37px;
}

.slick-dots li {
  width: 15px;
  height: 15px;
  border: 2px solid #00c9c9;
  border-radius: 50%;
  background-color: #fff;
}

@media (max-width: 1000px) {
  .slider {
    width: 95vw;
  }
  .servicesSliderList {
    margin: 40px 0;
  }
}

@media (max-width: 750px) {
  .servicesSliderList {
    padding: 0;
    width: 100%;
  }
}
