.newsItem {
  width: 260px;
  height: 335px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 55px;
}

.newsItem img {
  width: 85%;
  border-radius: 30px;
  position: absolute;
  right: 24px;
  bottom: 300px;
}

.newsItem h3 {
  font-size: 16px;
  letter-spacing: 0.9px;
  text-align: center;
  color: #0d4c93;
  margin: 60px 0 14px;
  font-weight: 400;
}

.newsItem p {
  padding: 10px 8px;
  font-size: 11px;
  letter-spacing: 0.55px;
  line-height: 1.75;
  text-align: center;
  color: #363535;
}

.newsLink {
  border-radius: 35px;
  opacity: 0.9;
  background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
  position: absolute;
  padding: 10px 67px;
  color: #fff;
  top: 355px;
  left: 43.5px;
}
